* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill-space {
  flex: 1 1 auto;
}

.title-container {
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

