<!-- css for the title toolbar is messed up -->
<nav>
  <div class="nav-wrapper">
    <span *ngIf="activity">
      <span class="left"> Story Board</span>
      <b>{{ activity.title }}</b>
      <span class="right">Next Topic</span>
    </span>
  </div>
</nav>

<div class="container">
  <div class="row">
    <app-attendance></app-attendance>
    <app-todays-topics></app-todays-topics>
    <app-important-dates></app-important-dates>
  </div>
</div>


<span *ngIf="activity">
  <div class="card-container">
    <div *ngFor="let slide of activity.slides">
      <md-card>
        <md-card-title>{{ slide.title }}</md-card-title>
        <md-card-content class="secondary">
          <p>{{ slide.slideDetail }}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</span>

