<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">{{title}}</span>
  </div>
</nav>

<div class="container">
  <div class="row">
    <button (click)="gotoCourses()" class="waves-effect waves-light btn">Courses</button>
    <button (click)="gotoSections()" class="waves-effect waves-light btn">Sections</button>
    <button (click)="gotoDepartments()" class="waves-effect waves-light btn">Departments</button>
    <button (click)="gotoPrefixes()" class="waves-effect waves-light btn">Prefixes</button>
    <button (click)="gotoTerms()" class="waves-effect waves-light btn">Terms</button>
    <button (click)="gotoRegister()" class="waves-effect waves-light btn">Register</button>
  </div>
  <router-outlet></router-outlet>
</div>



